@import url("style.css");

section.results-pane {
  width: 960px;
  float: left;
  position: relative;
}

section.results-pane > ul {
  list-style-type: none;
}

aside.saved-searches {
  width: 120px;
  height: 240px;
  float:right;
}

aside.saved-searches > div:first-child {
  background-color: red;
  width: inherit;
  height: inherit;
}
