@import url("style.css");

/************************/
/** Contents           **/
/** ------------------ **/
/**  1. Results        **/
/**  2. Saved Searches **/
/**  3. Search Bar     **/
/**  4. Small Screens  **/
/************************/


/****************/
/** 1. Results **/
/****************/

section.results-pane {
  width: 780px;
  height: 100vh;
  position: relative;
  margin-top: 20px;
}

section.results-pane > h3 {
  margin: 20px;
  color: #A7A5A5;
  font-weight: 100;
  font-family: fantasy;
}

section.results-pane > ul {
  list-style-type: none;
  display: none;
}

section.results-pane > ul > li {
  margin-bottom: 20px;
}

section.results-pane > ul > li > div.result {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  background-color: rgba(0, 53, 255, 0.21);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

div.result > figure {
  width: 550px;
  height: 550px;
  overflow: hidden;
  margin: 10px auto;
  margin-bottom: 0;
  border-radius: 10px;
}

div.result a {
  margin: 10px auto;
  display: inline-block;
  color: #5A00FF;
}

div.result a.icono-checkCircle:hover {
  color: #333;
}

p.error-message {
  display:none;
  color: red;
  height: 25px;
  background-color: #E3E3E3;
  padding: 10px;
  border: grey solid 1px;
  border-left: red solid 5px;
  border-radius: 5px;
  font-family: fantasy;
  font-size: 1.2em;
}

.error{
  border:red solid 2px !important;
}

/***********************/
/** 2. Saved Searches **/
/***********************/
aside.saved-searches {
  width: 240px;
  height: 240px;
  position: fixed;
  left: 70%;
  margin: 20px;
  transform: translateX(-35%);
}

aside.saved-searches > div:first-child {
  background-color: rgba(202, 213, 255, 0.41);
  width: inherit;
  height: inherit;
  border: #ADADAD solid 1px;
  border-radius: 10px;
}

aside.saved-searches h2 {
  margin: 20px;
  color: #A7A5A5;
  font-weight: 100;
  font-family: fantasy;
}

aside.saved-searches div.saved-search {
  border: #ADADAD solid 1px;
  border-radius: 5px;
  padding: 5px;
  float: left;
  margin: 0 5px 0 5px;
  background-color: rgba(241, 164, 161, 0.25);
  cursor: pointer;
}

aside.saved-searches div.saved-search:hover {
  border-width: 2px;
  background-color: rgba(241, 164, 161, 1);
}

div.saved-search > p {
  margin: 0;
}

/*******************/
/** 3. Search Bar **/
/*******************/
div.search {
  width: 100%;
  margin-top: 40px;
  display: block;
  overflow: hidden;
}

div.search input[type="text"] {
  width: 720px;
  height: 40px;
  border: #ADADAD solid 1px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  background-color: #F7F7F7;
  font-size: 1.5em;
  float: left;
}

div.search div.go-button {
  width: 50px;
  height: 50px;
  float: left;
  padding: 5px;
  margin-left: -1px;
  border: #ADADAD solid 1px;
  background-color: #4C96FF;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.5em;
  line-height: 50px;
  cursor: pointer;
}

div.search div.go-button:hover {
  color: #333;
  background-color: #0052C5;
}

/****************************/
/** 4. Small screen styles **/
/****************************/
@media only screen and (max-width: 1079px) {
  section.results-pane {
    width: 100%;
    float:none;
    position: relative;
  }

  section.results-pane > ul > li {
    margin-bottom: 10px;
  }

  section.results-pane > ul > li > div.result {
    width: 200px;
    height: 200px;
  }

  aside.saved-searches {
    width: 200px;
    height: 200px;
    position: relative;
    left: inherit;
    margin: 20px auto;
    padding-top: 20px;
    transform: translateX(0%);
  }

  div.search input[type="text"] {
    width: 200px;
    font-size: 1em;
  }

}
