@import url("style.css");

section.results-pane {
  width: 780px;
  float: left;
  position: relative;
}

section.results-pane > ul {
  list-style-type: none;
}

section.results-pane > ul > li {
  margin-bottom: 20px;
}

section.results-pane > ul > li > div.result {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.08);
  border-radius: 10px;
  overflow: hidden;
}

aside.saved-searches {
  width: 240px;
  height: 240px;
  position: fixed;
  right: 10%;
}

aside.saved-searches > div:first-child {
  background-color: rgba(0, 0, 0, 0.08);
  width: inherit;
  height: inherit;
  border: #333333 solid 1px;
  border-radius: 10px;
}

@media only screen and (max-width: 1079px) {
  section.results-pane {
    width: 100%;
    float:none;
    position: relative;
  }

  section.results-pane > ul > li {
    margin-bottom: 10px;
  }

  section.results-pane > ul > li > div.result {
    width: 100px;
    height: 100px;
  }

  aside.saved-searches {
    width: 100px;
    height: 100px;
    position: relative;
    right:inherit;
    margin: 0 auto;
  }
}

html, body {
  background-color: #EEE;
  margin:0;
  padding:0;
}

body > div.container {
  background-color: white;
}
