/* *******************
	¡SHADOWS!
******************** */

.light-shadow {
	fill: yellow;
	opacity: .7;
}

/* *******************
	¡SPIN!
******************** */

.spin-shadow {

	transform-origin: 500px 500px;
	-webkit-animation: spin-shadow 2s infinite;
	animation: spin-shadow 2s infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-direction: forwards;
}

@-moz-keyframes spin-shadow {
	from {}
	to { transform: translate(-1300px);
	-webkit-transform: translate(-1300px);}
}

@-webkit-keyframes spin-shadow {
	from {}
	to { transform: translate(-1300px);
	-webkit-transform: translate(-1300px);}
}

@keyframes spin-shadow {
	from {}
	to { transform: translate(-1300px);
	-webkit-transform: translate(-1300px);}
}


/* *******************
	¡BEAMS!
******************** */

path.beam {
	/*translate: scale(.1);*/
	z-index: 3;
}

/* *******************
	¡RANDOM!
******************** */

.one 	{ animation-delay: 0.2s; filter: hue-rotate(40deg);
	-webkit-animation-delay: 0.2s; -webkit-filter: hue-rotate(40deg)}
.two 	{ animation-delay: 0.4s; filter: hue-rotate(80deg);
	-webkit-animation-delay: 0.4s; -webkit-filter: hue-rotate(80deg)}
.three 	{ animation-delay: 0.6s; filter: hue-rotate(120deg);
	-webkit-animation-delay: 0.6s; -webkit-filter: hue-rotate(120deg)}
.four 	{ animation-delay: 0.8s; filter: hue-rotate(160deg);
	-webkit-animation-delay: 0.8s; -webkit-filter: hue-rotate(160deg)}
.five 	{ animation-delay: 1.0s; filter: hue-rotate(200deg);
	-webkit-animation-delay: 1.0; -webkit-filter: hue-rotate(200deg)}
.six 	{ animation-delay: 1.2s; filter: hue-rotate(240deg);
	-webkit-animation-delay: 1.2; -webkit-filter: hue-rotate(240deg)}
.seven 	{ animation-delay: 1.4s; filter: hue-rotate(280deg);
	-webkit-animation-delay: 1.4; -webkit-filter: hue-rotate(280deg)}
.eight 	{ animation-delay: 1.6s; filter: hue-rotate(320deg);
	-webkit-animation-delay: 1.6; -webkit-filter: hue-rotate(320deg)}
.nine 	{ animation-delay: 1.8s; filter: hue-rotate(260deg);
	-webkit-animation-delay: 1.8; -webkit-filter: hue-rotate(260deg)}

/* *******************
	¡SPIN!
******************** */

.flashy {
	/*transform-origin: 500px 500px;*/
	animation: flashy 2s infinite;
	/*animation-name: flashy;
	animation-duration: 2s;
	animation-iteration-count: infinite;*/
	animation-timing-function: linear;
	/*animation-direction: alternate;*/
}

@-moz-keyframes flashy {
	from { }
	to {}
}

@-webkit-keyframes flashy {
	from { }
	to {}
}

@keyframes flashy {
	from { }
	to {}
	/*to { transform: rotateY(180deg); filter: hue-rotate(60deg) opacity(10%);}*/


}
