
/** Search Results **/
header {
  display: block;
  height: 50px;
}

nav.top-bar-fixed {
  position: fixed;
  width:100%;
  height: inherit;
  text-align: center;
  background-color: #99FCDF;
  top:-5px;
  z-index: 999999;
}

nav.top-bar-fixed > div.container {
  height: inherit;
}

nav.top-bar-fixed > div > ul {
  list-style-type: none;
  height: inherit;
  width: inherit;%;
  float:left;
  margin: 0 auto;
}

nav.top-bar-fixed > div > ul > li {
  width: 100px;
  height: inherit;
  float: left;
  background-color: #4C96FF;
  color: white;
  display: table;
  border: white solid 1px;
}

nav.top-bar-fixed > div > ul > li:last-child {
  width: initial;
  height: inherit;
  float: left;
  background-color: transparent;
  display: table;
  border: white solid 1px;
}

nav.top-bar-fixed > div > ul > li:not(.search):hover {
  background-color: #0052C5;
}

nav.top-bar-fixed form {
  height: inherit;
}

nav.top-bar-fixed input[type=text] {
  height: 30px;
  width: 200px;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;
  padding: 0 2px;
  margin-left: -1px;
  float: left;
}

nav.top-bar-fixed form > div.go-button {
  margin-left: 0;
  background-color: #4C96FF;
  width: 40px;
  height: 30px;
  border: 1px solid #d8d8d8;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  text-align: center;
}

nav.top-bar-fixed form > div.go-button:hover {
  background-color: #0052C5;
}

nav.top-bar-fixed form > div.go-button > a{
  color:white;
  height: inherit;
  width: inherit;
  text-decoration: none;
}

/* Uncomment this section for pill box style list
nav.top-bar-fixed > div > ul > li:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}


nav.top-bar-fixed > div > ul > li:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
*/

.right {
  float: right;
  position: relative;
  margin-right: 50px;
}

.left {
  float: left;
}

.middle {
  vertical-align: middle;
  display: table-cell;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.container {
  width: 1080px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.wrapper {
  display: table;
  height: inherit;
}

@media only screen and (max-width: 1079px){
  .container {
    width: 100%;
  }
}
