@import url("icono.min.css");
* {
  -webkit-padding-start: 0;
}

html, body {
  background-color: rgba(41, 24, 185, 0.42);;
  margin:0;
  padding:0;
}

header {
  display: block;
  height: 50px;
}

nav.top-bar-fixed {
  position: fixed;
  width:100%;
  height: inherit;
  text-align: center;
  background-color: #99FCDF;
  z-index: 999999;
  animation: psychadelic 25s;
  animation-iteration-count: infinite;
}


@keyframes psychadelic
{
  0%   {background: #FC9999;}
  25%  {background: #F0FC99;}
  50%  {background: #99C9FC;}
  75%  {background: #99FCDF;}
  100% {background: #FC9999;}
}

nav.top-bar-fixed > div.container {
  height: inherit;
  background-color: transparent;
}

nav.top-bar-fixed > div > ul {
  list-style-type: none;
  height: inherit;
  width: 50%;
  margin: 0 auto;
}

nav.top-bar-fixed > div > ul > li {
  width: 100px;
  height: inherit;
  background-color: #4C96FF;
  color: white;
  display: table;
  border: white solid 1px;
}

nav.top-bar-fixed a {
  color: white;
  text-decoration: none;
}

nav.top-bar-fixed > div > ul > li:hover {
  background-color: #0052C5;
}

nav.top-bar-fixed > div > ul > li:hover a, li:hover a::before {
  color: #333;
}

nav.top-bar-fixed form {
  height: inherit;
  width: 100px;
  text-align: center;
}

nav.top-bar-fixed input[type=text] {
  height: 30px;
  width: 200px;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;
  padding: 0 2px;
  margin: 7px 0;
  display: none;
}

/* Uncomment this section for pill box style list
nav.top-bar-fixed > div > ul > li:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}


nav.top-bar-fixed > div > ul > li:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
*/

.right {
  float: right;
  position: relative;
  margin-right: 50px;
}

.left {
  float: left;
}

.middle {
  vertical-align: middle;
  display: table-cell;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.wrapper {
  display: table;
  height: inherit;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 1079px){
  .container {
    width: 100%;
  }

  nav.top-bar-fixed input[type=text] {
    display: none;
  }

  nav.top-bar-fixed > div > ul > li {
    width: 75px;
    font-size:80%;
  }
}
