<nav class="top-bar-fixed">
  <div class="container hide-for-small">
    <ul class="center">
      <li class="left">
        <a href="/">
          <div class="middle nav-item">
            <div class="icono-home"></div>
          </div>
        </a>
      </li>
      <li class="left">
        <a href="/dashboard/dashboard">
          <div class="middle nav-item">
            <div class="icono-user"></div>
          </div>
        </a>
      </li>
      <li class="left">
        <a href="/profile/profile">
          <div class="middle nav-item">
            <div class="icono-gear"></div>
          </div>
        </a>
      </li>
      <li class="left">
          <a href="/users/search">
            <div class="middle nav-item">
              <div class="icono-search"></div>
            </div>
          </a>
      </li>
    </ul>
  </div>
</nav>
