<nav class="top-bar-fixed">
  <div class="container hide-for-small">
    <ul class="center">
      <li class="left">
        <a href="index.html">
          <div class="middle nav-item">
            <div class="icono-home"></div>
          </div>
        </a>
      </li>
      <li class="left">
        <a href="dashboard.html">
          <div class="middle nav-item">
            <div class="icono-user"></div>
          </div>
        </a>
      </li>
      <li class="left">
        <a href="profile.html">
          <div class="middle nav-item">
            <div class="icono-gear"></div>
          </div>
        </a>
      </li>
      <li class="left">
          <a href="search.html">
            <div class="middle nav-item">
              <div class="icono-search"></div>
            </div>
          </a>
      </li>
    </ul>
  </div>
</nav>
