<!doctype html>
<html>
  <head>
    <title>CS 2610 Project</title>
    <meta name="charset" content="utf-8">
    <meta name="description" content="CS2610 Project">
    <link rel="stylesheet" type="text/css" href="/css/jeff.css">
  </head>
  <body>
    <input type="checkbox" id="nav-toggle" class="nav-toggle show-for-small" />
    <label for="nav-toggle" class="icono-hamburger show-for-small"></label>
    <header>
    </header>

    <div class="site-wrap">
      {{{body}}}
    </div>
  </body>
</html>
