<a href="authorize">Login</a>
<div class="site-wrap">
  <div id = "content">
    <div class = "signInForm">
          <div class="login">
            <h2>Already signed up? Then <strong>Sign In</strong></h2>
            <form method="post" action="authorize">
              <p class="submit"><input type="submit" name="commit" value="Sign In"></p>
            </form>
          </div>

          <div class="login-help">
            <p>Forgot your password? <a href="index.html">Click here to reset it.</a></p>
          </div>
    </div>
<br><br>
<div class="signInBox">
    <div class = "signUpForm">
          <div class="login">
              <h2>New to CS 2610? Then <strong>Sign Up</strong></h2>
              <p>below and get ready to access Instagram in style. With saved searches and whatever other awesome features we come up with!</p>
              <p class="submit"><a href="instagram.com">Sign Up</a></p>
          </div>
    </div>
</div>
</div>
</div>
