@import url("icono.min.css");
@import url("dustin.css");
@import url("jeff.css");
@import url("devan.css");
@import url("party.css");
@import url("dashboard.css");

/************************/
/** Contents           **/
/** ------------------ **/
/**  1. Global         **/
/**  2. Navigation     **/
/**  3. Off-canvas Nav **/
/**  4. Gen. Layout    **/
/**  5. Show-For-Small **/
/************************/

/****************/
/** 1. Global **/
/****************/
* {
  -webkit-padding-start: 0;
}

html, body {
  background-color: rgba(41, 24, 185, 0.42);;
  margin:0;
  padding:0;
}

body {
  overflow-x: hidden;
}

header {
  display: block;
  height: 50px;
}

/*******************/
/** 2. Navigation **/
/*******************/
nav.top-bar-fixed {
  position: fixed;
  width:100%;
  height: inherit;
  text-align: center;
  background-color: #99FCDF;
  z-index: 2;
  animation: psychedelic 25s;
  animation-iteration-count: infinite;
}

  @keyframes psychedelic
  {
    0%   {background: #FC9999;}
    25%  {background: #F0FC99;}
    50%  {background: #99C9FC;}
    75%  {background: #99FCDF;}
    100% {background: #FC9999;}
  }

nav.top-bar-fixed > div.container {
  height: inherit;
  background-color: transparent;
}

nav.top-bar-fixed > div > ul {
  list-style-type: none;
  height: inherit;
  width: 30%;
  margin: 0 auto;
}

.logout {
  margin: 0 auto;
  position: relative;
  width: 75px;
  height: 50px;
  display: block;
  background-color: rgb(0, 126, 156);
  text-align: center;
  line-height: 50px;
  bottom: 20px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.logout:hover {
  font-weight: bold;
}

nav.top-bar-fixed > div > ul > li {
  width: 100px;
  height: inherit;
  background-color: #4C96FF;
  color: white;
  display: table;
  border: white solid 1px;
  cursor: pointer;
}

nav.top-bar-fixed div.nav-item {
  width: 100px;
  height: 50px;
}

nav.top-bar-fixed div.nav-item > div {
  color: white;
}

nav.top-bar-fixed > div > ul > li:hover, nav.top-bar-fixed > div > ul > li > a:active {
  background-color: #0052C5;
}

nav.top-bar-fixed > div > ul > li:hover div {
  color: #333;
}

/******************************************/
/** 3. Off-canvas-menu for small screens **/
/******************************************/
input.nav-toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  margin: 20px;
  right: 20px;
}

label[for="nav-toggle"] {
  position: fixed;
  right: 15px;
  top: 10px;
  z-index: 3;
  cursor: pointer;
  color: #333333;
}

input.nav-toggle + label, .site-wrap {
  transition: right 0.5s;
}

input.nav-toggle:checked ~ .site-wrap {
  right: 100px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

div.small-nav {
  height: 100%;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: #555555;
}

div.small-nav > ul {
  list-style-type: none;
  width:75px;
}

div.small-nav > ul > li {
  margin: 20px;
}

/*******************************/
/** 4. General layout classes **/
/*******************************/
.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  position: relative;
  top: -20px;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.right {
  float: right;
}

.left {
  float: left;
}

.middle {
  vertical-align: middle;
  display: table-cell;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
}

.site-wrap {
  background-color: transparent;
}

.wrapper {
  display: table;
  height: inherit;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.show-for-small {
  display:none;
}

#userprofile {
  padding: 50px;
}

#userprofile > input[type="text"], #userprofile > textarea {
  font-size: 1.5em;
  border: 1px solid #eee;
  padding: 5px;
}

#userprofile > input[type="submit"] {
  font-size: 1.5em;
  position:relative;
  padding:10px;
  border: 2px solid blue;
  background: none;
  color: blue;
  margin-top: 20px;
}

/******************************/
/** 5. Media query targeting **/
/** medium to small screens  **/
/******************************/
@media only screen and (max-width: 1079px){
  html, body {
    background-color: transparent;
    margin:0;
    padding:0;
  }

  .site-wrap {
    background-color: #FFFFFF;
  }

  .container {
    width: 100%;
  }

  .show-for-small {
    display:block;
  }

  .hide-for-small {
    display:none;
  }
}
